<h1>New Review</h1>
<!-- if we just passed in @review, the inputs would be submitted to reviews, -->
<!-- not restaurant/:id/reviews -->
<!-- the order they're passed in matters too! -->
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review" %>
<% end %>

<br>
<%= link_to "Go back to all reviews", restaurants_path %>
